.alert {
  padding: 1rem;
  background-color: $warning;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: .6rem;
  margin-bottom: 1rem;
  
  p {
    font-family: $third-font;
    font-weight: 700;
  }
}