.form-container {
  padding: 2rem;
  background-color: rgba($bg-color, .7);

  .sign-up-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    font-family: $text-font;

    .form-active-class {
      border: 2px solid $danger;
    }

    &-required {
      color: $danger;
    }

    label {
      font-size: 2.2rem;
      font-family: $headers-font;
      margin-left: 1%;
      margin-bottom: .8rem;
    }

    .form-input {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto 1.2rem auto;
    }

    input {
      border: 2px solid rgba($primary, 0.6);
      background: transparent;
      padding: 1.1rem;
      padding-left: 2.5rem;
      font-size: 2.2rem;
      border-radius: 2.5rem;
      color: rgba($primary, .8);
      width: 100%;
    }

    input[type='submit'] {
      @include page-button;
    }

    .disabled {
      opacity: 0.6;
      background: #777 !important;
      cursor: not-allowed !important;
    }

    .disabled:hover {
      background: #777 !important;
    }

    input[type='submit']:hover {
      @include page-button-hover;
    }
  
    input:active, input:focus {
      outline: none;
      border: 2px solid $danger;
    }

    input[type="date"] {
      &::before { 
        content: attr(data-placeholder);
        width: 100%;
      }

      &:focus::before,
      &:valid::before { 
        display: none;
      }

      &:before {
        content: attr(placeholder) !important;
        color: rgba($primary, .4);
        &::placeholder {
          font-family: $text-font !important;
        }
      }
    }

    input::placeholder {
      color: rgba($primary, .4);
      font-family: $text-font;
      letter-spacing: .11rem;
    }
  
    button {
      width: 30%;
    }

    .form-icon {
      margin-left: 1rem;
    }

    .form-icon-red {
      color: $warning;
    }

    .form-icon-green {
      color: $secondary;
    }

    .form-valid {
      display: flex;
      align-items: center;
    }
  }
}