// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto:wght@500&display=swap');

// Variables
@import "variables/colors.scss";
@import "variables/fonts.scss";
@import "variables/mixins.scss";

// Components
@import "components/components-index.scss";

// Containers
@import "containers/page.scss";

html {
  font-size: 11px;
}

@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  .page-container {
    margin: 6rem 5rem;
  }

  .modal-container {
    .modal {
      padding: 10rem;
      margin: 8rem;
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  html {
    font-size: 9px;
  }

  .page-container {
    margin: 5rem 0;
  }
  .modal-container {
    .modal {
      padding: 8rem;
      margin: 4rem;
    }
  }
}

@media (max-width: 499px) {
  html {
    font-size: 6px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $primary;
  font-family: $text-font;
  letter-spacing: .11rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}