.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-details {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    margin-top: 2rem;
  }

  &-details i {
    margin-right: 1rem;
  }
}