.modal-container {
  background: rgba(black, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    animation-name: moveInTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: .2s;
    animation-fill-mode: backwards;
    padding: 10rem;
    background: white;
    margin: 3rem 20rem;
    z-index: 10;
    height: 90vh;
    width: 100%;
    overflow: auto;
    border-radius: 20px;

    &-button {
      border: 2px solid rgba($primary, 0.6);
      background: transparent;
      padding: 1.1rem;
      padding-left: 2.5rem;
      font-size: 2.2rem;
      width: 100%;
      border-radius: 2.5rem;
      color: rgba($primary, .8);
      margin: 2rem auto 1.2rem auto;
      margin-top: 5rem !important;
      @include page-button;
    }
  
    &-button:hover {
      @include page-button-hover;
    }
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}